<a href="/"><h1>Ember Action Syntax Options</h1></a>
<h3><em>templates, routes, components, controllers...</em></h3>

<p>Open up your developer tools console to watch the output of these different button interaction.</p>

<navbar>
  <nav><a href="/one">First Example</a></nav>
  <nav><a href="/two">Second Example</a></nav>
  <nav><a href="/three">Third Example</a></nav>
  <nav><a href="/four">Fourth Example</a></nav>
</navbar>


{{outlet}}