<p>This screen is the FOURTH example of actions</p>

<p>Finally, we see all of those permutations as digested by a custom "component" or "pod" helper:</p>

{{ my-button myAction=this.doSomething myText="tada!" }}
