<p>This screen is the FIRST example of actions</p>

<button {{ action "doSomething" }} >Action Helper - string style</button>

<p>This example demonstrates that the standard \{\{action\}\} helper with string-ly named actions leaves ambiguity about whether the action is handled in a controller or a route file.</p>
<p>Ember always starts with a matching controller and works up.</p>
<p>Do we ever really need to use controllers?</p>
