<p>This screen is the THIRD example of actions</p>

<p>Here we see three different handlebars syntaxes for action handlers</p>
<ol>
    <li>
        <p>the <a href="https://guides.emberjs.com/release/templates/actions/#toc_action-parameters"/> ember standard action helper </a>, or \{\{action "myActionName"\}\} where the route looks like this:</p>
        <code>
            {
                ...
                actions: {
                    myActionName() {
                        ...
                    }
                }
            }
        </code>
    </li>
    <li>
        <p>the <a href="https://developer.mozilla.org/en-US/docs/Mozilla/Tech/XUL/Attribute/onclick">html standard action handler</a> with a function reference from the component:</p>
        <code>
            // handlebars template
            button onclick={this.myFunctionName}
        </code>
        <code>
            // route file
            {
                ...
                myFunctionName() { // no "actions" hash
                    ...
                }
            }
        </code>
    </li>
    <li>
        <p>the <a href="https://alexdiliberto.com/posts/ember-closure-actions/"/> ember closure action style helper </a> with a function reference from the component:</p>
        <code>
            // handlebars template
            button onclick=\{\{action this.myFunctionName \}\}
        </code>
        <code>
            // route file
            {
                ...
                myFunctionName() { // no "actions" hash
                    ...
                }
            }
        </code>
    </li>
    <li>
        <p>the same thing using the actions hash as a namespace:</p>
        <code>
            // handlebars template
            button onclick=\{\{action this.actions.myFunctionName \}\}
        </code>
        <code>
            // route file
            {
                ...
                actions: {
                    myFunctionName() {
                        ...
                    }
                }
            }
        </code>
    </li>
</ol>

<button {{ action "doSomething" }} >ember action strings</button>
<button onclick={{ this.doSomething }} >hbs non-strings</button>
<button onclick={{ action this.doSomething }} >ember closure actions</button>
<button onclick={{ this.actions.doSomething }} >hbs non-strings and the action object</button>
